@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: '#DAD7CD',
}

.body {
  background-color: var(--background),
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
